################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HL/HL.Core/obj/Debug
/HL/HL.Data/obj/Debug
/HL/HL.Services/obj/Debug
/HL/HL.Test/obj/Debug
