################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HL/HL.Core/obj/Debug
/HL/HL.Data/obj/Debug
/HL/HL.Services/obj/Debug
/HL/HL.Test/obj/Debug
/HL/HL.Core/bin/Debug
/HL/HL.Data/bin/Debug
/HL/HL.Services/bin/Debug
/HL/HL.Test/bin/Debug
/HL/packages/EntityFramework.6.1.3
/HL/HL.Console/bin/Debug
/HL/HL.Console/obj/Debug
/HL/HL.Web/bin
/HL/HL.Web/obj/Debug
/HL/packages
/HL/.vs/config
